#out_backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

#tuneWrapper {

}

#out_BoxWrapper #out_healthBar{
  width: 30rem;
  height: auto;
  background-color: white;
  border: 2px solid black;
  position: relative;
  display: flex;
  padding: 1rem;

}

#out_BoxWrapper .out_attempts{
  width: 5rem;
  height: 5rem;
  background-color: green;
  z-index: 1;
  border-radius: 50%;
  border: 2px solid black;
  margin: 5px;
}