@font-face {
  font-family: "scratch";
  src: url("/font/scratch.ttf") format("truetype");
}

@font-face {
  font-family: "scratch1";
  src: url("/font/scratch1.ttf") format("truetype");
}

@font-face {
  font-family: "pen";
  src: url("/font/pen.ttf") format("truetype");
}

@font-face {
  font-family: "drunk";
  src: url("/font/grunge.ttf") format("truetype");
}

#out_backdrop {
  position: absolute;
  top: -100px;
  left: -50px;
  width: calc(100% + 100px);
  height: calc(100% + 250px);
  z-index: -2;
  filter: blur(6px);
  -webkit-user-drag: none;
  user-select: none;
}

#tuneWrapper {
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#out_input {
  margin: 0rem;
  width: 60rem;
  height: 31rem;
  position: relative;
  margin-bottom: 2rem;
}

#out_input img {
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-user-drag: none;
  user-select: none;
}

#out_input #out_buttons {
  position: absolute;
}

#out_input #out_buttons button {
  border: 5px groove rgb(160, 0, 0);
  margin: 5px;
  width: 4.5rem;
  height: 2.5rem;
  color: white;
  background-color: rgb(155, 0, 0);
  font-size: 20px;
  font-family: fantasy;
}

#out_input #out_buttons button:hover {
  transform: scale(1);
  border: 4px groove rgb(255, 0, 0);
}

#out_input #out_buttons button:active {
  transform: scale(0.95);
  border: 4px groove rgb(255, 0, 0);
}

#out_input #out_buttons input {
  position: absolute;
  top: 1.5rem;
  left: 22rem;
  width: 15.5rem;
  height: 9.5rem;
  border-radius: 1px;
  border: 5px groove black;
  background-color: grey;
  font-size: 2rem;
  font-family: fantasy;
}

#out_input #out_buttons #input_left {
  position: absolute;
  top: 21rem;
  left: 1rem;
  display: flex;
  flex-direction: row;
}

#out_input #out_buttons #input_right {
  position: absolute;
  top: 21rem;
  left: 40rem;
  display: flex;
  flex-direction: row;
}

#out_BoxWrapper #out_healthBar {
  width: 44rem;
  height: auto;
  background-color: white;
  border: 2px solid black;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
  background-image: url("/assets/onceuponatune/image/out_groove.jpg");
  background-size: cover;
}

#out_BoxWrapper #out_healthBar #hint {
  position: absolute;
  width: 8rem;
  height: 7.5rem;
  top: -2rem;
  left: -3rem;
  z-index: 2;
  display: flex;
  align-items: center;
  background-image: url("/assets/onceuponatune/image/out_wrapper.png");
  background-size: cover;
}

#out_BoxWrapper #out_healthBar #hint h1 {
  width: 5rem;
  transform: rotate(15deg) translatey(-5px);
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 1.5rem;
  font-family: "pen";
  color: rgba(0, 0, 0, 0.788);
  text-shadow: none;
}

#out_BoxWrapper #out_lives {
  display: flex;
  flex-direction: row;
}

#out_BoxWrapper .out_attempts {
  width: 8rem;
  height: auto;
  z-index: 1;
  border-radius: 30px;
  border: none;
  margin: auto;
  padding: 0;
}

#out_BoxWrapper h1 {
  font-family: "scratch";
  font-weight: 100;
  margin: 0;
  font-size: 2rem;
  color: rgb(68, 42, 0);
  text-shadow: 0px 0px 1px rgb(139, 74, 0);
}

#out_BoxWrapper .out_attempts img {
  width: 7rem;
  margin: 0;
  padding: 0;
  transition: transform 0.2s;
  -webkit-user-drag: none;
  user-select: none;
}

#out_BoxWrapper .out_attempts img:hover {
  transform: rotate(6deg);
}

#out_instruction {
  font-size: 0.8rem;
  padding: 1rem;
  width: 45rem;
  height: 53.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#out_instruction hr {
  width: 40rem;
  border: 1px dashed black;
}

#out_instruction h1 {
  margin: 5px 0px 0px 0px;
  text-shadow: -1px 2px 1px black;
}

#out_instruction h2 {
  margin: 5px 0px 10px 0px;
  color: black;
}

#out_instruction img:nth-child(2) {
  position: absolute;
  top: 5rem;
  width: 50rem;
  -webkit-user-drag: none;
  user-select: none;
}

#out_instruction img:nth-child(1) {
  width: 7rem;
  position: absolute;
  top: -4.5rem;
  left: -0.5rem;
  -webkit-user-drag: none;
  user-select: none;
}

#out_instruction button {
  z-index: 1;
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  top: 41rem;
  margin-left: 13rem;
}

#out_instruction button:hover {
  box-shadow: 0px 0px 30px red;
  transform: scale(1.2);
}

#out_option_buttons button {
  width: 15rem;
  margin: 2rem 4rem;
  background-color: transparent;
  border: none;
  transition: transform 0.1s;
}

#out_option_buttons button:nth-child(even) {
  transform: rotate(-4deg);
}

#out_option_buttons button:nth-child(odd) {
  transform: rotate(4deg);
}

#out_option_buttons button:nth-child(even):hover {
  transform:  scale(1.3) rotate(10deg);
}

#out_option_buttons button:nth-child(odd):hover {
  transform:  scale(1.3) rotate(-10deg);
}

#out_option_buttons img {
  width: 20rem;
  -webkit-user-drag: none;
  user-select: none;
}

#out_endCredit h1{
  color: white;
  font-family: "drunk";
  font-size: 3rem;
  font-weight: 100;
}

#out_endCredit button{
  background-color: transparent;
  border: none;
  transition: transform 0.1s;
}

#out_endCredit button:hover{
  transform: scale(1.1) ;
}

#out_endCredit img{
  width: 15rem;
}